.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: rgb(0, 190, 253);
}
.nav-link-text:hover {
  color: rgb(0, 111, 151);
}
.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: bolder;
  margin: 3rem 0;
}